{% extends 'base.html.twig' %}

{% block title %}Provider list{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone number</th>
            <th>Provider type</th>
            <th>Is active</th>
            <th>Creation date (d/m/y)</th>
            <th>Last updated (d/m/y)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for provider in providers %}
            <tr>
                <td style="vertical-align: middle;">{{ provider.name }}</td>
                <td style="vertical-align: middle;">{{ provider.email }}</td>
                <td style="vertical-align: middle;">{{ provider.phone }}</td>
                <td style="vertical-align: middle;">{{ provider.type }}</td>
                <td style="vertical-align: middle;">{{ provider.isActive ? 'Yes' : 'No' }}</td>
                <td style="vertical-align: middle;">{{ provider.creationDate | date("d/m/Y", false) }}</td>
                <td style="vertical-align: middle;">{{ provider.lastUpdated | date("d/m/Y", false) }}</td>
                <td style="vertical-align: middle;">
                    <a href="{{ path('edit_provider', {'id': provider.id}) }}" class = "btn btn-primary">Edit</a>
                    <a href="{{ path('delete_provider', {'id': provider.id}) }}" class = "btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
